{% extends 'base.html' %}
{% load static %}

{% block title %}Booking Form{% endblock %}
{% block content %}

</header>
<div class="container" id="Contact" > 
            <div class="title-left text-left wow bounce" data-wow-duration='2s'>
                <h2>Booking</h2>
            </div>
            <section class="form__section" style="padding: 0px !important;">
                    <form method="POST" action="{% url 'pages:handle_booking' %}" data-endpoint="{% url 'pages:handle_booking' %}" class=" justify-content-between flex-column flex-wrap align-item-center form__enquery">
                        {% csrf_token %}
                        <!--title --> 
                        <h2 class="name">Booking</h2>
                        <!--MESSAGE --> 
                        <textarea class="message" name="message" id="message" placeholder="Your Message"></textarea>
                        <p style="font-size: 18px;">Your Details</p>
                        <!--input container --> 
                        <div class=" justify-content-order align-item-start form__name">
                            <input type="text" class="firstname" name="full_name" placeholder="full name" placeholder="full name" required>
                            <input class="email" type="email" name="email" id="email" placeholder="email" required>
                        </div>
                        <input class="company" type="text" id="package" name="package" placeholder="Requested Package" required>
                        <!--input container -->
                        <div class=" justify-content-order align-item-start form__name">
                            <input type="text" class="firstname" id="country" name="country" placeholder="country">
                        </div>
                        <div class=" justify-content-between flex-wrap" >
                            <!--button  -->
                            <input class="code" type="number" name="phone" placeholder="Contact Number">
                            <div class="test">
                                <button class="btn button-primary"><i class="fas fa-chevron-right"></i> Request Booking</button>
                            </div>
                        </div>
                    </form>

            </section>
        </div>
        
    </div>  
  </section>
  {% endblock %}

