
{% extends 'base.html' %}
{% load static %}

{% block title %}Thank You{% endblock %}
{% block content %}


</header>


<div class="container" style="height: 300px;">
  {% if messages %}
  <ul class="messages list-unstyled mt-5">
      {% for message in messages %}
      <li class="alert {{ message.tags }} messages alert-dismissible fade show" role="alert">
        {% if message.tags == 'alert-danger' %}
        <i class="fas fa-exclamation-circle"></i>
        {% else %}
        <i class="fas fa-check-circle"></i>
        {% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss='alert' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </li>
      <hr>
      <a href="{% url 'blog:home' %}" class="btn btn-info">Back to Home</a>
      {% endfor %}
  </ul>
  {% else %}
  <ul class="list-unstyled mt-5 text-center">
      <li class="alert alert-success ">Thank you for your booking, we will get back to you as soon as possible.</li>
      <a href="{% url 'blog:home' %}" class="btn btn-info">Back to Home</a>
  </ul>
  {% endif %}

</div>

{% endblock %}
