{% extends 'base.html' %}
{% load static %}

{% block title %}Social work{% endblock %}
{% block content %}

        <!--img and the img src is in style html -->
        <img style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.5)) , url({% if social_header.image %}{{ social_header.image.url }}{% else %}{% static 'img/default.jpg' %}{% endif %})" class="img-header">
        <div class="container">
            <!--box text -->
            <div class="box__text">
                <h1 class="hero__text wow fadeInDown" data-wow-duration="2s" >
                    {% if user.is_authenticated and user.is_staff  or user.is_superuser %}
                    {% comment %} <a class="btn btn-info" href="{% url 'admin:pages_socialheader_change' social_header.id %}"> Edit this header <i class="far fa-edit"></i></a> {% endcomment %}
                    {% endif %} 
                    <span>{{ social_header.title }}</span>{{ social_header.header_title }}</h1>
                <!--button-->
                {% comment %} <a class="button__circle wow fadeInDown discover" data-wow-duration="3s" ><i class="fas fa-arrow-down"></i>Learn More </a> {% endcomment %}
            </div>
        </div>
  </header> 
<!--section posts-->
<section class="social">
    <div class="container-fluid container-md social-background">
        <div class="title-left text-left wow bounce" data-wow-duration='2s' >
            <h2>Our social <br> work</h2>
        </div>
        <!--row not reserve-->
        <div class="row">
            <!--img social -->
            <div class="col-md-6 text-center">
                <!--img-->
                <a href="{% url 'blog:socials' %}" data-wow-duration="4s">
                <img class="social__img" src="{% static 'img/social-work1.JPG' %}">
                </a>
            </div>
            <!--card info-->
            <div class="col-md-6 ">
                <!--card box -->
                <div class="info__social d-flex justify-content-center align-items-start flex-column w-100">
                    <!--title-->
                    <h3 class="head__social wow fadeInDown text-justify" data-wow-duration="2s" >Himalaya treks nepal always focus on making better future for those who are willing of and capable of.</h3>
                    <!--parg -->
                    <p class="parg__social text-justify wow fadeInDown text-justify" data-wow-duration="3s" >Our company always spend on 20% of profit for social work mainly we focus on education sector of remote area of nepal.</p>
                    <!--button-->
                    {% comment %} <a class="button__circle wow fadeInDown card-link" href="{% url 'blog:socials' %}" data-wow-duration="4s"><i class="fas fa-arrow-right"></i>Learn More </a> {% endcomment %}
                </div>
            </div>
        </div>
        <!--row reserve -->
        <div class="row">
            <!--row reserve class order-md-1 -->
            <!--img social -->
            <div class="col-md-6 text-center order-md-1 ">
                <!--img-->
                <a href="{% url 'blog:socials' %}" data-wow-duration="4s">
                <img class="social__img" src="{% static 'img/social-work2.JPG' %}">
                </a>
            </div>
            <!--card info-->
            <div class="col-md-6  ">
                <!--card box -->
                <div class="info__social d-flex justify-content-center align-items-start flex-column w-100">
                    <!--parg -->
                    <p class="parg__social text-justify wow fadeInDown" data-wow-duration="3s" >We are able to primary schools for dolkha jhesphu which is remote area of dolakha. We provide dress and books for those school who are excellent on education and low at income to encourage their education so due of money they don’t have to give up their education. At future our goal is to make nepal fully educated country in which we have send our proposals to government also.</p>
                    <!--button-->
                    {% comment %} <a class="button__circle wow fadeInDown card-link" href="{% url 'blog:socials' %}" data-wow-duration="4s"><i class="fas fa-arrow-right"></i>Learn More </a> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="row">
            <!--img social -->
            <div class="col-md-6 text-center">
                <!--img-->
                <a href="{% url 'blog:socials' %}" data-wow-duration="4s">
                <img class="social__img" src="{% static 'img/social-work3.JPG' %}">
                </a>
            </div>
            <!--card info-->
            <div class="col-md-6 ">
                <!--card box -->
                <div class="info__social d-flex justify-content-center align-items-start flex-column w-100">
                    <!--parg -->
                    <p class="parg__social text-justify wow fadeInDown mt-3" data-wow-duration="3s" >
                        At pandemic COVID-19 we deliver food to some of family who are unable to work and have zero income.<br>
                        At dolkha we built a house for widow who lost her everything on earthquake of 2015.<br>
                        Our goal is to provide food, shelter and home through our social work and mainly on education sector.<br>
                        We kindly request to our costumers if you agree with our goal we request you to donate some of amount happily.</p>
                    <!--button-->
                    {% comment %} <a class="button__circle wow fadeInDown card-link" href="{% url 'blog:socials' %}" data-wow-duration="4s"><i class="fas fa-arrow-right"></i>Learn More </a> {% endcomment %}
                </div>
            </div>
        </div>
</section>




{% endblock %}